*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: paleturquoise;
    letter-spacing:2px;

}

header img{
    width:50px;
    height: 50px;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
}
.container img{
    width:250px;
    aspect-ratio: 1;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top:1rem;
    margin-bottom: 10rem;
}

h1{
    text-align: center;
    margin-top: 1rem;
}
p{
    padding: 1rem;
    line-height: 1.5rem;
}
footer{
    width: 100%;
    background-color: black;
    padding: 1rem;
    color: white;
    position: fixed;
    bottom: 0;
    
}
footer p{
    text-align: center;
}

figure{
    padding: 1rem;
}
figure img{
    width: 450px;
}
figcaption{
    text-align: justify;
}
